[Desktop Entry]
Version=1.0
Type=Application
Name=Workspace
Comment=Open Workspace Folder
Exec=thunar /workspace
Icon=folder-documents
Terminal=false
Categories=Utility;FileManager;
